@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

html,
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 2;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1 {
  margin: 0;
  padding: 0;
}
tr,
th,
td {
  border: 1px;
  padding: 0 30px;
  text-align: center;
}

.add-btn {
  padding: 10% 0 0 0;
  display: flex;
  justify-content: center;
}
.table {
  display: flex;
  justify-content: center;
  margin: 4% 10%;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 5% 0 0 0;
}
.form-inline label {
  margin: 5px 10px 5px 0;
}
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.form-inline button {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 100%;
  color: white;
}
.button-save {
  background-color: dodgerblue;
  border: 1px solid #ddd;
}
.button-delete {
  background-color: rgb(216, 97, 50);
  border: 1px solid #ddd;
}
.form-inline button:hover {
  background-color: royalblue;
}

li {
  display: inline-block;
  padding: 0 10px;
}
.auth-link {
  float: right;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root {
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 10p;
  }
  tr,
  th,
  td {
    padding: 0 5px;
  }
  .form-inline input {
    margin: 10px 0;
    align-items: stretch;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
    padding: 10% 0;
  }
  header {
    font-size: 10px;
  }
  .add-btn {
    margin: 10% 0 0 0;
  }
  .add-see {
    padding: 0 100px;
  }
  button {
    font-size: 10px;
  }
}

.App-header {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
